<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeLeaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
  xml:lang="en"
>
  <head th:replace="fragments::page_head('Home - Shopme Admin')"> </head>
  <body>
    <div class="container-fluid">
      <div th:replace="navigation::menu"></div>
      <h2>Shopme Control Panel</h2>
      Welcome
      <a th:href="@{/account}" sec:authentication="principal.fullname"></a>
      <span sec:authentication="principal.authorities"></span>

      <div th:replace="fragments::footer"></div>
    </div>
  </body>
</html>
